.btn {
  border-radius: 10px;
  height: 50px;
  padding: 20px 50px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px;
}

.btn-dark {
  background-color: #393c40;
  color: $white-color;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($white-color, 0.5);
  display: none;

  .alert-box {
    width: 600px;
    height: 350px;
    background-color: $dark-color;
    margin: auto;
    border-radius: 10px;
  }
}

.modalActive {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;

  .clickBox {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($white-color, 0.5);
  }

  .closeX {
    position: absolute;
    right: 2%;
    font-size: 5em;
    cursor: pointer;
    color: #039be5;
  }

  .alert-box {
    position: relative;
    width: 600px;
    height: 350px;
    background-color: $dark-color;
    margin: auto;
    border-radius: 10px;
    z-index: 99;
    align-items: center;

    button {
      font-size: 1.5em;
      cursor: pointer;
    }

    .createCancel {
      margin-left: 15%;
      padding: 2%;
    }

    h2 {
      color: white;
      margin-left: 15%;
    }

    h4 {
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 5%;
      color: white;
    }

    input {
      width: 100%;
      margin-bottom: 5%;
      padding: 1.5%;
    }

    input:last-child {
      height: 20vh;
    }
  }
}

.ql-editor {
  white-space: normal !important;
}

.ql-toolbar {
  width: 80vw;
}

.ql-container {
  width: 80vw;
}

#saveData {
  margin-top: 2%;
}

#quillContent {
  margin-top: 10%;
  width: 95vw;
  height: auto;
}

.previewWrapper {
  width: 100%;
  height: auto;
  display: none;
}

#outputData nav a {
  color: #000;
  padding: 1%;
}
